<li className="project">
  <a href="./project-page.html">
    <img src="{reactSnykers}" alt="project" className="project__img" />
    <h3 className="project__title">React Snykers</h3>
  </a>
</li>
<li className="project">
  <a href="./project-page.html">
    <img src="{quteMachina}" alt="project" className="project__img" />
    <h3 className="project__title">Qute Machina</h3>
  </a>
</li>
<li className="project">
  <a href="./project-page.html">
    <img src="{myOldCss}" alt="project" className="project__img" />
    <h3 className="project__title">Example css</h3>
  </a>
</li>
<li className="project">
  <a href="./project-page.html">
    <img src="{fotoColection}" alt="project" className="project__img" />
    <h3 className="project__title">Foto Colection</h3>
  </a>
</li>
<li className="project">
  <a href="./project-page.html">
    <img src="{reactPizza}" alt="project" className="project__img" />
    <h3 className="project__title">React Pizza</h3>
  </a>
</li>
